  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Project name</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id="about"><a href="#about">About</a></li>
              <li id="features"><a href="#contact">Features</a></li>
            </ul>
            <ul class="nav pull-right" style="margin-top:2px !important;">
              <input type="button" class="btn btn-small btn-success"  value="Logout" onclick="location.href='/logout/';">
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>