{%  extends extension  %}


{% block headers %}
{% load staticfiles %}
<script type="text/javascript">
$(function(){
  $(".compose-msg").css({'display':'none'});

  $(".msg-button").click(function(){
    $(".compose-msg").slideDown();
  });
  
  $(".msg-cancel").click(function(){
    $("#body").val("");
    $("#subject").val("");
    $(".compose-msg").slideUp();
  });
  $(".suggest-button").click(function(){
    $(".suggest-skill").slideDown();
  });

  $(".suggest-cancel").click(function(){
    $("#actual").val("");
    $("#enterbox").val("");
    $(".suggest-skill").slideUp();
  });


  $("#enterbox").keypress(function(event) {
    if (event.keyCode == 13) {
      var newskill = $('#enterbox').val();
      var old = $("#actual").attr("value");
      $(".anchor").after('<div class="skillpill"> <a style="color:white !important;" href="/skill/'+newskill+'">'+newskill+'</a>&nbsp;<div class="deleteskill">&times;</div></div>');
      $("#deleteskill").addClass('deleteskill');
      $("#actual").attr("value",old+newskill+"&&");
      $("#enterbox").val("");

      return false;
    }

  });

  $(".append-test").click(function(){
    $(".anchor").append("Hello.");
  });

  $(document).on('click','.deleteskill',function(){
    //JQUERY delete
    $(this).parent().fadeOut();
    return false;
  });

  $(document).on('mouseenter','.deleteskill',function(){
    $(this).parent().css(
        {
          'background':'darkred',
          'border':'1px solid darkred',
          'cursor':'pointer',
        }
      );
    });

  $(document).on('mouseleave','.deleteskill',function(){
    $(this).parent().css(
        {
          'background':'darkgreen',
          'border':'1px solid black',
          'cursor':'default',
        }
      );
  });

  $("#msg-send").click(function(){
    $.ajax({
        type: "POST",
        url: '/messages/admin_send/',  // or just url: "/my-url/path/"
        data: {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            message: $("#body").val(),
            users: [{{ user.id }}],
        },
        success: function(response) {
            $(".compose-msg").fadeOut(500, function() {
              $(this).html("<div class='span6 offset6 text-center' style='font-size:large;color:lightblue;'>"+response+"</div>").fadeIn(500);
              });
        }
    });
  });


  $(document).on('click','.deleteskill',function(){
    alert('Ajax!');
    
    var skilltext = $(this).siblings('a').text();
    alert(skilltext);
    $.ajax({
        url: '/skills/removeskill/',  // or just url: "/my-url/path/"
        type: "POST",
        dataType: 'text',   
        data: {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            skill: skilltext
          },
        success: function(response) {
          alert(response);
          },
        error: function(response){
          alert(response);
          }

    });
    return false;

  });

  $("#add_person").popover({
    'html':true,
    'placement':'left',
    'title':"Add",
    'content':'<input id="add_person_text_field" type="text" maxlength="20"><br/><input style="margin-right:8px;margin-right:8px;" id="add_person_text_field" class="btn btn-mini pull-right btn-success"  type="button" value="Add Person">'
  });


  $(document).on('keyup','#add_person_text_field',function(){
    
    var name_text = $(this).val();
    //alert(name_text);
    //alert(skilltext);
    $.ajax({
        url: '/messages/get_people/',  // or just url: "/my-url/path/"
        type: "POST",
        dataType: 'text',   
        data: {
            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
            name: name_text
          },
        success: function(response) {
          //alert(response);
          var a ='';
          },
        error: function(response){
          alert('fail');
          }

    });
    return true;

  });



});
</script>
{% endblock %}

{%  block body %}
{%  include 'navbar_create.html' %}
<div class="visible-desktop" style="color:white;background:white;height:40px;">Secret message with no meaning.
</div>
<div class="container" style="padding:15px !important;background-image:url('{% static 'img/green.jpg' %}');background-size:100% 100%;background-repeat:no-repeat;">
  
  <!--Upper row fluid with Names and Message/Suggest skill button -->
  <div class="row-fluid" style="margin-left:auto;margin-right:auto;width:97% !important;padding-left:10px !important;padding-right:10px !important;border-radius:10px;box-shadow: 0px 0px 15px grey !important;background:white;">
    <div class="span6">
      <h1>{{ user.first_name }}&nbsp;{{ user.last_name }}&nbsp;
        <a href="mailto:{{ user.email }}"><small> {{ user.email }}</small></a>
      </h1>
    </div>
    
    <!--BUTTONS-->
    <div class="ajaxtest"></div>
    <div class="span2">
      <button class="btn btn-block btn-success star-btn" style="margin-top:15px !important;" >Star {{ user.first_name}}</button>
      <div class="text-center" style="width:100%;"><a style="font-size:small !important;" href="/features/">What's this?</a></div>
    </div>
    <div class="span2">
      <button class="btn btn-block btn-success suggest-button" style="margin-top:15px !important;" >Suggest Skill</button>
    </div>
    <div class="span2" style="">
      <button class="btn btn-block btn-success msg-button" style="margin-top:15px !important;margin-bottom:10px !important;" >Message {{ user.first_name }}</button>
      &nbsp;&nbsp;
    </div>
    

    <!-- COMPOSE MESSAGE-->
    <div style="display:none !important;margin-bottom:10px !important;" class="row-fluid compose-msg">
      <div class="span2 offset6 text-right">
        <strong>Compose Message</strong>
      </div>
      <form action="" method="post">
        {% csrf_token %}

      <div class="span4" style="margin-bottom:10px;">
        <input type="text" maxlength="40" style="width:95%" name="subject" id="subject" placeholder="Subject"/>
        <br/>
        <textarea maxlength="40" rows="5" style="width:95% !important;" name="body" id="body" placeholder="Write your message here."></textarea><br/>
        <input class="btn btn-small btn-success pull-right" id="msg-send" type="submit" value="Send">
        <input style="margin-right:8px;" id="add_person" class="btn btn-small pull-right"  type="button" value="Add Person">
        <input style="margin-right:8px;" class="btn btn-small pull-right msg-cancel"  type="button" value="Cancel">
      </div>
    </div>


    <!--SUGGEST SKILLS-->
    <div style="display: none !important;margin-bottom:10px !important;" class="row-fluid suggest-skill">
      <div class="span2 offset6 text-right">
        <strong>Suggest Skills</strong><br/>
      </div>
      <form action="" method="post">
        {% csrf_token %}

      <div class="span4" style="margin-bottom:10px;" >
        <input type="hidden" id="actual" name="actual" value="&&">
        <input style="width:95%;" type="text" id="enterbox typeahead" name="skills"  autocomplete="off" data-provide="typeahead">
        <br/>
        <div class="anchor"></div>

        <input class="btn btn-small btn-success pull-right"  type="submit" value="Suggest">
        <input style="margin-right:8px;" class="btn btn-small pull-right suggest-cancel"  type="button" value="Cancel">
      </div>
    </div>

      

  </div>

 <!--NEW ATTEMPT-->
  <div class="row-fluid">
    <div style="margin-top:8px;margin-left:10px !important;padding:8px !important;border-radius:10px;box-shadow:0px 0px 8px grey;background:white;" class="span3">
        <div class="hidden-phone">
            <img class="" src="{{ picture }}"  alt="Profile Picture" style="border-radius:8px;box-shadow:0px 0px 0px black;width:100%;">
          
            <div class="text-center"><strong>{{ user.first_name }}&nbsp;{{ user.last_name }}</strong></div>
            <div class="text-center">{{ profile.livingGroup }}</div>
            <div class="text-center">Class of {{ profile.classYear }}</div>
        </div>
        <div class="visible-phone">
          <div class="inline text-center">
              <img class="" src="{{ picture }}"  alt="Profile Picture" style="border-radius:8px;box-shadow:0px 0px 0px black;width:45%;"><br/>
            
              <span style="width:100%" class=" text-center"><strong>{{ user.first_name }}&nbsp;{{ user.last_name }}</strong></span><br/>
              <span class=" text-center">{{ profile.livingGroup }}</span><br/>
              <span class=" text-center">Class of {{ profile.classYear }}</span>
          </div>
        </div>
      </div>

  <!--INFO Section-->
  <div style="margin-top:8px;margin-left:10px !important;;margin-right:10px !important;" class="span9 floater whitebox pull-left text-left">
    <div class="" style="padding:1px;margin-bottom:6px;">
      <div class="text-left" style="display:inline;line-height:10px;font-weight:bold;font-size:large;">Skills</div>
      &nbsp;&nbsp;    
      <a class=" btn btn-small btn-success pull-right"  href="/addskills/" style="margin-bottom:0px;">Add</a>
    </div>
    <!--<div class="skilldiv" style="height:25px;">   --> 
      {% if skills %}
          {% for skill in skills %}
            {% if skill %}
            <div class="skillpill" style=""> <a style="color:white !important;" href="/skill/{{ skill.uglyname }}">{{ skill.name }}</a>
              <div class="deleteskill" ><div style="display:none">{{ skill.uglyname }}</div>&times;</div>            
            </div>
            {% endif %}
          {% endfor %}
        
      {% else %}
      <em>Looks like you haven't declared any skills.  We strongly recommend adding some to use this site to it's full potential.</em>
      <a class="btn btn-success pull-left" href="/addskills/">Add</a>
      {% endif %}
      <br/>
    <!--</div>-->
    <hr/>

    <!--BIO-->
    {% if profile.additional %}
    <br/><br/><div class="" style="padding:1px;margin-bottom:6px;">
      <div class="text-left" style="display:inline;line-height:10px;font-weight:bold;font-size:large;">Bio</div>
      &nbsp;&nbsp;    
      <button class=" btn btn-small btn-success pull-right" class="edit-bio" style="margin-bottom:0px;">Edit</button>
    </div>
    <div>    
        <blockquote style="margin:15px;margin-top:5px;margin-bottom:5px;">
          <p style="padding:4px !important;">{{ profile.additional }}</p>
        </blockquote> 
    </div>
    {% endif %}

  </div><!--SPAN 9-->
</div>
    

{%  include "footer.html" %}
	
</div> <!-- /container -->
  

     
{% endblock %}
