<!DOCTYPE html>
<html lang='en'>
  <head>
    
    {%  load staticfiles %}
    
    <title>Template Page</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />

	<!--  NO ICONS
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" media="screen" rel="stylesheet">
	-->

    <!-- Bootstrap in static dir 
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
    -->

    <!-- JQuery in static dir
	<script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	-->
	<!--
	Bootstrap LessCSS personalizations, and less.js to auto-compile the LESS code
	Can uncomment to enable LESS customization
	<link rel="stylesheet/less" href="/Users/colinmcd94/Documents/Programs/Bootstrap/bootstrap.less">
	<script src="/Users/colinmcd94/Documents/Programs/JavaScript/less.js"></script>
	-->
    <!--My styles-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<!--Importing JQuery and JQuery UI Google CDN -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>	
	<!-- Bootstrap CDN -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" media="screen">
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %} "></script>

	
	{% block headers %}

	{% endblock %}
	
  	</head>
  	
  	<body>
	{% block body %}

	{% endblock %}

  	</body>
</html>